# Build- & IDE-Ordner
target/
bin/
.settings/
.classpath
.project
.idea/
*.iml
dependency-reduced-pom.xml

# Lokale Testdaten & Logs
events_data/
*.log

# Lokales Deployment
conveyor.local.conf
build.bat